.possibility__container {
  display: flex;
}

.possibility__image img {
  width: 546px;
  height: 607.53px;
}

.possibility_information-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.possibility_information__title {
  color: var(--title-color);
}

.possibility_information-container h1 {
  font-size: 34px;
  font-weight: 800;
  line-height: 45px;
  text-align: left;
}

.possibility_information-container a {
  color: var(--link-color);
}

.possibility_information {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin: 2rem 0;
}
