:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  --bg-color: #040c18;
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
  --text-color: #81afdd;
  --title-color: #71e5ff;
  --link-color: #ff8a71;
  --secondary-bg-color: #042c54;
  --footer-bg-color: #031b34;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
